
/* 
    Hoja de estilo para 

    Created on : 31-ago-2016, 10:34:37
    Author     : Ing. Adrián Alvarado Ramírez <adrian.alvarado_r@ucr.ac.cr> - Facultad de Educación, Universidad de Costa Rica
*/

.tablaLogin{
    margin: auto;
}

.botonera{
    text-align: center;
}
